body {
	font-family: "Open Sans", Arial, Helvetica;
	background-color: #f7f7f7;
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(200px, auto) 1fr;
	grid-template-areas:
		"navbar main";
	grid-gap: 80px;
}

nav {
	grid-area: navbar;
	position: fixed;
	border-bottom: 1px solid black;
	border-right: 2px solid black;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	width: 100%;
	border-top: 1px solid black;
}

.nav-link {
	display: block;
	padding: 10px 0 10px 20px;
	margin: 0;
	text-decoration: none;
	font-size: 1.1rem;
}

.nav-link:link,
.nav-link:visited {
	color: black;
}

.nav-link:hover {
	color: #f7f7f7;
	background-color: black;
}

main {
	grid-area: main;
	padding-top: 25px;
}

header {
	font-size: 1.3rem;
	font-weight: thin;
}

.nav-header {
	font-size: 1.5rem;
	padding: 20px;
}

section header {
	padding-bottom: 10px;
}

section p {
	padding-left: 20px;
	padding-bottom: 10px;
}

section ul {
	list-style-type: square;
}

section li {
	margin: 15px 0px 0px 20px;
}

code {
	white-space: pre;
	display: block;
	background-color: #deeafc;
	border-radius: 5px;
	line-height: 1.5;
	margin: 20px 20px 20px 35px;
	padding: 0 15px;
}

.ref:link,
.ref:visited,
.ref:active {
	color: dodgerblue;
	text-decoration: none;
}

.ref:hover {
	text-decoration: underline;
	color: dodgerblue;
}
footer {
	border-top: 1px solid lightgray;
	margin-top: 40px;
	padding-top: 5px;
}

footer a:link,
footer a:visited,
footer a:active {
	color: black;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}
.name {
	color: black;
	text-align: center;
	margin: 20px 0;
}

.my-links {
	padding-bottom: 20px;
	text-align: center;
}

.footer-link {
	padding: 0 15px 0 15px;
}

.footer-link:link,
.footer-link:visited,
.footer-link:active {
	color: black;
}

.footer-link:hover {
	color: dodgerblue;
}

@media screen and (max-width: 767px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			"navbar""main";
		grid-gap: 20px;
	}

	nav {
		position: inherit;
		border-right: none;
	}

	nav header {
		text-align: center;
	}

	nav li {
		text-align: center;
	}

	.nav-link {
		padding: 10px 0;
	}
}