body {
	font-family: "Open Sans", Arial, Helvetica;
	background-color: white;
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(200px, auto) 1fr;
	grid-template-areas:
		"navbar main";
	grid-gap: 80px;
}

nav {
	grid-area: navbar;
	position: fixed;
	border-bottom: 1px solid slategray;
	border-right: 2px solid slategray;
	border-bottom-right-radius: 1rem;
	border-top-right-radius: 1rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

nav li {
	width: 100%;
	border-top: 1px solid slategray;
}

.nav-link,
.nav-link-first,
.nav-link-last {
	display: block;
	padding: 10px 0 10px 20px;
	margin: 0;
	text-decoration: none;
	font-size: 1.1rem;
}

.nav-link:link,
.nav-link-first:link,
.nav-link-last:link,
.nav-link-first:visited,
.nav-link-last:visited,
.nav-link:visited {
	color: black;
}

.nav-link:hover,
.nav-link-first:hover {
	color: white;
	background-color: steelblue;
}

.nav-link-last:hover {
	color: white;
	background-color: steelblue;
	border-bottom-right-radius: .78rem;
}

header {
	font-size: 1.3rem;
	font-weight: thin;
}

.nav-header {
	font-size: 1.5rem;
	padding: 20px;
	font-weight: normal;
	color: steelblue;
}

main {
	grid-area: main;
	padding-top: 25px;
}

section {
	padding-bottom: 10px;
}

section header {
	padding-bottom: 10px;
}

section p {
	padding-left: 20px;
}

section ul {
	list-style-type: square;
	margin: 20px 10px;
}

section li {
	margin: 15px 0 0 20px;
}

code {
	white-space: pre;
	display: block;
	border-radius: 5px;
	line-height: 1.5;
	margin: 20px 20px 20px 35px;
	padding: 10px 0 10px 20px;
}

.ref:link,
.ref:visited,
.ref:active {
	color: steelblue;
	text-decoration: none;
}

.ref:hover {
	text-decoration: underline;
	color: steelblue;
}

footer {
	margin-top: 40px;
	padding-top: 5px;
}

footer a:link,
footer a:visited,
footer a:active {
	color: black;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.name {
	color: black;
	text-align: center;
	margin: 20px 0;
}

.my-links {
	padding-bottom: 20px;
	text-align: center;
}

.footer-link {
	padding: 0 15px 0 15px;
}

.footer-link:link,
.footer-link:visited,
.footer-link:active {
	color: black;
}

.footer-link:hover {
	color: steelblue;
}

@media screen and (max-width: 767px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			"navbar""main";
		grid-gap: 20px;
	}

	main {
		padding: 0 20px;
	}

	nav {
		position: inherit;
		border-right: none;
		border-radius: 1rem;
		height: 220px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	nav header {
		text-align: center;
		width: 95%;
		margin: 0 auto;
	}

	nav li {
		text-align: center;
	}

	nav li:first-child {
		border-radius: 1rem;
	}

	.nav-link-first:hover {
		color: white;
		background-color: steelblue;
		border-top-right-radius: .78rem;
		border-top-left-radius: .78rem;
	}

	.nav-link-last:hover {
		color: white;
		background-color: steelblue;
		border-bottom-left-radius: .78rem;
	}
}